doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css" )
        title Document
        script.
            const roomId = "!{roomId}";
        script(src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js" defer)
        script(src="/socket.io/socket.io.js" defer)
        script(src="/js/script.js" defer)
    body 
        #user-label My user id: #[span#user-id]
        #video-grid
        ul#activity-log